* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #ccc;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header,
footer {
    border: 2px solid limegreen;
    padding: 10px;
    margin: 10px;
}

nav {
    display: flex;
    width: 70%;
    border: 2px solid gold;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: auto;
}

main {
    display: grid;
    /* Esse Grid auxiliou em ajustar tanto a */
    grid-template-columns: 3fr 1fr;     
    gap: 10px;
    border: 2px solid green;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 0;
    
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.principal>section {
    border: 2px solid gold;
    padding: 10px;
}

.principal>section:first-child>article {
    border: 2px solid blue;
    padding: 10px;
    margin-bottom: 10px;
}

aside {
    border: 2px solid gold;
    padding: 10px;
    margin-bottom: 0px;
}

aside>section {
    border: 2px solid blue;
    padding: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    nav {
        width: 100%;
        margin-left: 0;
    }

    main {
        grid-template-columns: 1fr;
    }

    aside {
        margin-top: 10px;
    }
}